.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calculator {
    margin: 30px auto;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 4px 10px #ababab;
    padding-bottom: 15px;
}

.cat {
  width:25%;
  border-radius: 25px;
}

.headerText {
  width:50%;
}

.headerText > h1 {
  margin: 0;
}
.punchContainer>div:nth-child(even) {
  background-color: #eae8e8;
}

.totals {
    margin-top: 10px;
    box-shadow: 1px 2px 5px #c3c3c3;
    padding: 5px 2px;
}
